# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Virtual environments
.venv/

# macOS
.DS_Store

# Next.js
.next/
node_modules/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json